Repository wiremod/wire, pull requests merged in 2022-10, with the labels that each got.

#2423 Implement warning system for preprocessor/tokenizer/parser, plus more warnings
  lua/entities/gmod_wire_expression2/base/compiler.lua
  lua/entities/gmod_wire_expression2/base/optimizer.lua
  lua/entities/gmod_wire_expression2/base/parser.lua
  lua/entities/gmod_wire_expression2/base/preprocessor.lua
  lua/entities/gmod_wire_expression2/base/tokenizer.lua
  lua/entities/gmod_wire_expression2/cl_init.lua
  lua/entities/gmod_wire_expression2/core/core.lua
  lua/entities/gmod_wire_expression2/core/e2lib.lua
  lua/entities/gmod_wire_expression2/core/selfaware.lua
  lua/entities/gmod_wire_expression2/core/timer.lua
  lua/entities/gmod_wire_expression2/init.lua
Labels: E2

#2453 Extend validation menu
  lua/autorun/wire_load.lua
  lua/wire/client/text_editor/issue_viewer.lua
  lua/wire/client/text_editor/wire_expression2_editor.lua
  lua/wire/cpulib.lua
Labels: Enhancement, Text editor

#2462 Fix dupes using old vector/angle types
  lua/entities/gmod_wire_expression2/init.lua
Labels: E2

#2455 Add anti-aliasing option to editor
  lua/wire/client/text_editor/wire_expression2_editor.lua
Labels: Enhancement, E2, Text editor
